.title{
    color: rgb(32, 130, 32);
}
.choice{
    color: rgb(181, 176, 148);
}
.mahbub{
    background-color: rgb(158, 148, 148);
    text-align: justify;
}
#main{
    text-align: center;
    text-size-adjust: 20px;
}